@import url(http://fonts.googleapis.com/css?family=Biryani:300%7CMontserrat);
.main-container{
    max-width: 1120px;
    margin-top: 15px;

}
body{
    background-color: #28BB9B;
    font-family: "Montserrat";
    color:#fff;
}
h1{
    font-size: 50px;
}
.sub-text{
    font-size: 27px;
    margin-top: -15px;
}
#countdown{
    margin-top: 50px;
}
.time{
    font-size: 60px;
}
.time-name{
    font-size: 22px;
    margin-left: 15px;
}
p{
    font-size: 18px;
    margin-top: 30px;
}
.social {
    margin: 0 auto;
    display: table;
}
.social>ul{
    margin-left: -55px;
}
.social>ul>li{
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    list-style: none;
}
.social-icon {
    font-size: 25px;
    color: #fff;
    background-color: #565656;
    height: 45px;
    width: 45px;
    padding: 10px;
    transition: all ease 400ms;
}
a:hover, a:focus{
    text-decoration: none;
}
.social-icon:hover{
    background-color: #333;
    margin-top: -10px;
}
.text-box {
    border: none;
    border-radius: 0;
    padding: 22px 18px;
}
.subscribe-btn{
    padding: 12px 23px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    background-color: #DB4F4B;
    color: #fff;
    transition: all ease 400ms;
}
.subscribe-btn:hover{
    background-color: #D8D8D8 !important;
    color: #565656 !important;
}
#powered-by {
    margin-top: 25px;
    font-weight: 300;
    font-size: 12px;
}
@media(min-width:768px){
    .input-group{
        width: 440px;
        margin: 40px auto;
    }
    h1{
        font-size: 75px;
    }
    img{
        margin-top: 180px;
        transition: all ease 400ms;
    }
    img:hover{
        margin-top: 50px !important;
    }
}
@media(max-width:768px){
    img{
        height: 200px !important;
        margin:0 auto;
    }
    .main-container {
        margin-top: 20px;
    }
    .countdown-time{
        text-align: center;
    }
}
@media(max-width:768px){
    .social{
        margin: 20px auto 0;
    }
    .description{
        font-size: 11pt;
        text-align: center !important;
        margin-bottom: 30px;
    }
    .time {
        font-size: 30px;
    }
    #powered-by{
        margin-top: 0;
        margin-bottom: 30px;
    }
    #countdown {
        margin-top: 30px;
    }
}